/* Grid */
.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.col {
    float: left;
    box-sizing: border-box;
}

.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.666666667%;
}

.col-6 {
    width: 50%;
    
}

.col-7 {
    width: 58.333333333%;
}

.col-8 {
    width: 66.666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.666666667%;
}

.col-12 {
    width: 100%;
}

